{% extends 'user/dashboard.html' %}
{% block content %}


	<!-- Dashboard Content
	================================================== -->
	
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>My Active Bids</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>My Active Bids</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-gavel"></i> Manage your bid on {{ bid.job.title }}</h3>
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
                                
								<li>
									<!-- Job Listing -->
									<div class="job-listing width-adjustment">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#">{{ bid.job.title }}</a></h3>
											</div>
										</div>
									</div>
									
									<!-- Task Details -->
									<ul class="dashboard-task-info">
										<li><strong>${{ bid.Amount }}</strong><span>Hourly Rate</span></li>
										<li><strong>{{ bid.time }} {{ bid.denom }}</strong><span>Delivery Time</span></li>
									</ul>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
										<a href="#small-dialog" class="popup-with-zoom-anim button dark ripple-effect ico" title="Edit Bid" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
										<a href="#" class="button red ripple-effect ico" title="Cancel Bid" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
									</div>
								</li>
								
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->

			

		
	<!-- Dashboard Content / End -->




<!-- Wrapper / End -->


<!-- Edit Bid Popup
================================================== -->
<div id="small-dialog" class="zoom-anim-dialog mfp-hide dialog-with-tabs">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab">Edit Bid</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<form action="" method="post">
                {% csrf_token %}
			<div class="popup-tab-content" id="tab">
					
					<!-- Bidding -->
					{{ form }}
				
				<!-- Button -->
				<input class="button full-width button-sliding-icon ripple-effect" type="submit" value="Save Changes">
			</form>
			</div>

		</div>
	</div>
</div>
<!-- Edit Bid Popup / End -->
{% endblock content %}