{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block content %}
<div class="clearfix"></div>
<!-- Header Container / End -->

<!-- Titlebar
================================================== -->
<div id="titlebar" class="gradient">
	<div class="container">
		<div class="row">
			<div class="col-md-12">

				<h2>Register</h2>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li>Register</li>
					</ul>
				</nav>

			</div>
		</div>
	</div>
</div>


<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px;">Let's create your account!</h3>
					<span>Already have an account? <a href="{% url 'account_login' %}">Log In!</a></span>
				</div>
					
				<!-- Form -->
				<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
		  	{% for field in form %}
			<div>
				<div class="submit-field">
					<h5>{{ field.label_tag }}</h5>
					{{ field }}
					{% for error in field.errors %}
					<p style="color: red">{{ error }}</p>
					{% endfor %}
				</div>
				
			</div>	
				
			{% endfor %}
          <!-- {{ form|crispy }} -->
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        <!-- Button -->
        <!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit">Register <i class="icon-material-outline-arrow-right-alt"></i></button>
        </form>
				
				<!-- Social Login -->
				<div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<button class="facebook-login ripple-effect"><i class="icon-brand-facebook-f"></i> Register via Facebook</button>
					<button class="google-login ripple-effect"><i class="icon-brand-google-plus-g"></i> Register via Google+</button>
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

{% endblock content %}