{% extends 'job/base.html' %}
{% block content %}
<!-- Spacer -->
<div class="margin-top-90"></div>
<!-- Spacer / End-->
    <!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-3 col-lg-4">
			<div class="sidebar-container">
				
				

				<!-- Category -->
				<div class="sidebar-widget">
					<h3>Category</h3>
					<div class="task-tags">
						{% for category in categories %}
						<span><a href = "{% url 'task-category' category.slug %}">{{ category }}</a></span>
						{% endfor %}
					</div>
				</div>

				

				

				<!-- Tags -->
				
				<div class="clearfix"></div>

			</div>
		</div>
		<div class="col-xl-9 col-lg-8 content-left-offset">

			<h3 class="page-title">Search Results</h3>

			<div class="notify-box margin-top-15">
				<div class="switch-container">
					<label class="switch"><input type="checkbox"><span class="switch-button"></span><span class="switch-text">Turn on email alerts for this search</span></label>
				</div>

				<div class="sort-by">
					<span>Sort by:</span>
					<select class="selectpicker hide-tick">
						<option>Relevance</option>
						<option>Newest</option>
						<option>Oldest</option>
						<option>Random</option>
					</select>
				</div>
			</div>
			
			<!-- Tasks Container -->
            {% for task in tasks %}
			<div class="tasks-list-container compact-list margin-top-35">
				
				<!-- Task -->
				<a href="{% url 'job-detail' task.id %}" class="task-listing">

					<!-- Job Listing Details -->
					<div class="task-listing-details">

						<!-- Details -->
						<div class="task-listing-description">
							<h3 class="task-listing-title">{{ task.title }}</h3>
							<ul class="task-icons">
								<li><i class="icon-material-outline-access-time"></i> {{ task.date_created|date:'P'}}</li>
							</ul>
							<p class="task-listing-text">{{ task.description|stringformat:".100s" }}</p>
							<div class="task-tags">
								{% for skill in task.skill.all %}
								<span>{{ skill }}</span>
								{% endfor %}
							</div>
						</div>

					</div>

					<div class="task-listing-bid">
						<div class="task-listing-bid-inner">
							<div class="task-offers">
								<strong>${{ task.cost }}</strong>
								<span>Price</span>
							</div>
							<span class="button button-sliding-icon ripple-effect">Bid Now <i class="icon-material-outline-arrow-right-alt"></i></span>
						</div>
					</div>
				</a>		

			</div>
            {% endfor %}
			<!-- Tasks Container / End -->


			<!-- Pagination -->
			<div class="clearfix"></div>
			<div class="row">
				<div class="col-md-12">
					<!-- Pagination -->
					<div class="pagination-container margin-top-60 margin-bottom-60">
						<nav class="pagination">
							<ul>
								<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-left"></i></a></li>
								<li><a href="#" class="ripple-effect">1</a></li>
								<li><a href="#" class="current-page ripple-effect">2</a></li>
								<li><a href="#" class="ripple-effect">3</a></li>
								<li><a href="#" class="ripple-effect">4</a></li>
								<li class="pagination-arrow"><a href="#" class="ripple-effect"><i class="icon-material-outline-keyboard-arrow-right"></i></a></li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
			<!-- Pagination / End -->

		</div>
	</div>
</div>
{% endblock content %}