{% extends 'user/dashboard.html' %} {% block content %}
<!-- Dashboard Content
	================================================== -->

<!-- Dashboard Headline -->
{% if user == job.author %}
<div class="dashboard-headline">
  <h3>Manage Bidders</h3>
  <span class="margin-top-7">Bids for <a href="#">{{ job.title }}</a></span>

  <!-- Breadcrumbs -->
  <nav id="breadcrumbs" class="dark">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Dashboard</a></li>
      <li>Manage Bidders</li>
    </ul>
  </nav>
</div>

<!-- Row -->
<div class="row">
  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box margin-top-0">
      <!-- Headline -->
      <div class="headline">
        <h3>
          <i class="icon-material-outline-supervisor-account"></i> Bidders({{ bid_count }})
        </h3>
        <div class="sort-by">
          <select class="selectpicker hide-tick">
            <option>Highest First</option>
            <option>Lowest First</option>
            <option>Fastest First</option>
          </select>
        </div>
      </div>

      <div class="content">
        <ul class="dashboard-box-list">
          {% for bid in bids %}
          <li>
            <!-- Overview -->
            <div class="freelancer-overview manage-candidates">
              <div class="freelancer-overview-inner">
                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <div class="verified-badge"></div>
                  <a href="#"
                    ><img src="{{ bid.user.profile.image.url }}" alt=""
                  /></a>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <h4>
                    <a href="#"
                      >{{ bid.user.first_name}} {{ bid.user.last_name}}
                      <img
                        class="flag"
                        src="images/flags/de.svg"
                        alt=""
                        title="Germany"
                        data-tippy-placement="top"
                    /></a>
                  </h4>

                  <!-- Details -->
                  <!-- <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i> {{ bid.user.email }}</a></span> -->

                  <!-- Rating -->
                  <div class="freelancer-rating">
                    <div class="star-rating" data-rating="5.0"></div>
                  </div>

                  <!-- Bid Details -->
                  <ul class="dashboard-task-info bid-info">
                    <li>
                      <strong>${{ bid.Amount }}</strong><span>Fixed Price</span>
                    </li>
                    <li>
                      <strong>{{ bid.time}} {{ bid.denom}} </strong
                      ><span>Delivery Time</span>
                    </li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible margin-top-25">
                    <a
                      href="{% url 'manage_offer' bid.id %}"
                      class="button dark ripple-effect"
                      >Manage Offer</a
                    >
                  </div>
                </div>
              </div>
            </div>
          </li>

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- Row / End -->

{% endblock content %}
