{% extends 'user/dashboard.html' %}
{% block content %}


	<!-- Dashboard Content
	================================================== -->
	
			
			<!-- Dashboard Headline -->
			<div class="dashboard-headline">
				<h3>My Active Bids</h3>

				<!-- Breadcrumbs -->
				<nav id="breadcrumbs" class="dark">
					<ul>
						<li><a href="#">Home</a></li>
						<li><a href="#">Dashboard</a></li>
						<li>My Active Bids</li>
					</ul>
				</nav>
			</div>
	
			<!-- Row -->
			<div class="row">

				<!-- Dashboard Box -->
				<div class="col-xl-12">
					<div class="dashboard-box margin-top-0">

						<!-- Headline -->
						<div class="headline">
							<h3><i class="icon-material-outline-gavel"></i> Bids List</h3>
						</div>

						<div class="content">
							<ul class="dashboard-box-list">
                                {% for bid in bids %}
								<li>
									<!-- Job Listing -->
									<div class="job-listing width-adjustment">

										<!-- Job Listing Details -->
										<div class="job-listing-details">

											<!-- Details -->
											<div class="job-listing-description">
												<h3 class="job-listing-title"><a href="#">{{ bid.job.title }}</a></h3>
											</div>
										</div>
									</div>
									
									<!-- Task Details -->
									<ul class="dashboard-task-info">
										<li><strong>${{ bid.Amount }}</strong><span>Hourly Rate</span></li>
										<li><strong>{{ bid.time }} {{ bid.denom }}</strong><span>Delivery Time</span></li>
									</ul>

									<!-- Buttons -->
									<div class="buttons-to-right always-visible">
										<a href="{% url 'bid_update' bid.id %}"  class="button dark ripple-effect">Manage Bid</a>
										
									</div>
								</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>

			</div>
			<!-- Row / End -->

			

		
	<!-- Dashboard Content / End -->




<!-- Wrapper / End -->

{% endblock content %}