{% extends 'job/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    
<!-- Titlebar
================================================== -->
<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->

<!-- Page Content
================================================== -->
<div class="container">
	<div class="row">
		<div class="col-xl-5 offset-xl-3">

			<div class="login-register-page">
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3 style="font-size: 26px;">Let's create your account!</h3>
					<span>Already have an account? <a href="{% url 'login' %}">Log In!</a></span>
				</div>
					
				<!-- Form -->
				<form method="POST" id="register-account-form" enctype="multipart/form-data">
					{% csrf_token %}
					<!-- <div class="input-with-icon-left">
						<i class="icon-material-baseline-mail-outline"></i>
						<input type="text" class="input-text with-border" name="emailaddress-register" id="emailaddress-register" placeholder="Email Address" required/>
					</div>

					<div class="input-with-icon-left" title="Should be at least 8 characters long" data-tippy-placement="bottom">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password-register" id="password-register" placeholder="Password" required/>
					</div>

					<div class="input-with-icon-left">
						<i class="icon-material-outline-lock"></i>
						<input type="password" class="input-text with-border" name="password-repeat-register" id="password-repeat-register" placeholder="Repeat Password" required/>
					</div> -->
					{{ form|crispy }}
				
				
				<!-- Button -->
				<input class="button full-width button-sliding-icon ripple-effect margin-top-10" type="submit" value="Register">
			</form>
				<!-- Social Login -->
				<div class="social-login-separator"><span>or</span></div>
				<div class="social-login-buttons">
					<div class="social">
						<ul>
							<li id="facebook"><a href="{% url "social:begin" "facebook"%}">Signup with Facebook</a></li>
							<li id="twitter"><a href="{% url "social:begin" "twitter"%}">Signup with Twitter</a></li>
							<li id="google"><a href="{% url "social:begin" "google-oauth2" %}" >Signup with Google</a></li>
						</ul>
					</div>
					
				</div>
			</div>

		</div>
	</div>
</div>


<!-- Spacer -->
<div class="margin-top-70"></div>
<!-- Spacer / End-->


{% endblock content %}
