{% extends 'user/dashboard.html' %}
{% block content %}

<!-- Row -->
<div class="row">

    <!-- Dashboard Box -->
    <div class="col-xl-12">
        <div class="dashboard-box margin-top-0">

            <!-- Headline -->
            <div class="headline">
                <h3><i class="icon-material-outline-assignment"></i> My Tasks ({{jobs_count}})</h3>
            </div>

            <div class="content">
                <ul class="dashboard-box-list">
                    {% for task in tasks %}
                    <li>
                        <!-- Job Listing -->
                        <div class="job-listing width-adjustment">

                            <!-- Job Listing Details -->
                            <div class="job-listing-details">

                                <!-- Details -->
                                <div class="job-listing-description">
                                    <h3 class="job-listing-title"><a href="#">{{ task.title }}</a> <span class="dashboard-status-button yellow">Expiring</span></h3>

                                    <!-- Job Listing Footer -->
                                    <div class="job-listing-footer">
                                        <ul>
                                            <li><i class="icon-material-outline-access-time"></i> 23 hours left</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <!-- Task Details -->
                        <ul class="dashboard-task-info">
                            
                           
                            
                            <li><strong>$22</strong><span>Avg. Bid</span></li>
                            <li><strong>${{ task.cost }}</strong><span>Price</span></li>
                            
                        </ul>

                        <!-- Buttons -->
                        <div class="buttons-to-right always-visible">
                            <a href="{% url 'manage-bidders' task.id %}" class="button ripple-effect"><i class="icon-material-outline-supervisor-account"></i> Manage Bidders </a>
                            <a href="#" class="button gray ripple-effect ico" title="Edit" data-tippy-placement="top"><i class="icon-feather-edit"></i></a>
                            <a href="#" class="button gray ripple-effect ico" title="Remove" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                        </div>
                    </li>

                    {% endfor %}

                    

                </ul>
            </div>
        </div>
    </div>

</div>
<!-- Row / End -->


{% endblock content %}