{% load static %}

<!doctype html>
<html lang="en">
<head>
<title>Studera- Get your projects done in no time!</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<link rel="stylesheet" href="{% static 'css/colors/blue.css' %}">
<link rel="icon"href="{% static 'images/favicon.ico' %}">

<script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.js"></script>
{% include 'dashboard/scripts.html' %}

</head>
<body class="gray">
<!-- Wrapper -->
<div id="wrapper">
	<header id="header-container" class="fullwidth dashboard-header not-sticky">
		{% include 'navbar.html' %}
	</header>
	<div class="clearfix"></div>
	<!-- Dashboard Container -->
	<div class="dashboard-container">
		<div class="dashboard-sidebar">
			<div class="dashboard-sidebar-inner" data-simplebar>
				<div class="dashboard-nav-container">
					<a href="#" class="dashboard-responsive-nav-trigger">
						<span class="hamburger hamburger--collapse" >
							<span class="hamburger-box">
								<span class="hamburger-inner"></span>
							</span>
						</span>
						<span class="trigger-title">Dashboard Navigation</span>
					</a>
					{% include 'dashboard/navigation.html' %}
				</div>
			</div>
		</div>

		<div class="dashboard-content-container" data-simplebar>
		<div class="dashboard-content-inner" >
			{% block content %}{% endblock content %}
			<!-- Footer -->
			<div class="dashboard-footer-spacer">
			{% include 'dashboard/footer.html' %}
			</div>
			<!-- Footer / End -->
		</div>
	</div>

	</div>
	
	
</div>

<!-- Wrapper / End -->

<script>
// Snackbar for user status switcher
$('#snackbar-user-status label').click(function() { 
	Snackbar.show({
		text: 'Your status has been changed!',
		pos: 'bottom-center',
		showAction: false,
		actionText: "Dismiss",
		duration: 3000,
		textColor: '#fff',
		backgroundColor: '#383838'
	}); 
}); 
</script>

</body>
</html>