{% extends 'dashboard/base.html' %} 
{% block content %}
<!-- Dashboard Content
	================================================== -->
  <style>
     .custom-dialog.mfp-close
   {
    color: #fff;
  }
  .custom-dialog.mfp-close
 {
	color: #666;
	background-color: #e4e4e4;
	border-radius: 4px;
	top: 28px;
	right: 40px;
    width: 40px;
    height: 40px;
}
.custom-dialog.mfp-close:hover
{
	color: #fff;
	background-color: #66676b;
}
.custom-dialog {
	background: #fff;
	padding: 40px;
	padding-top: 0;
	text-align: left;
	max-width: 610px;
	margin: 40px auto;
	position: relative;
	box-sizing:border-box;
	border-radius: 4px;
	max-width: 550px;
}
.dialog-with-tabs.custom-dialog { 
	padding: 0;
	color: #666;
	max-width: 540px;
	box-shadow: 0 0 25px rgba(0,0,0,0.25);
}
.custom-dialog .mfp-close {
  color: #888;
  background-color: #f8f8f8;
  border-left: 1px solid #e0e0e0;
  border-radius: 0 4px 0 0;
  top: 0;
  right: 0;
  width: 62px;
  height: 61px;
}
.custom-dialog .mfp-close:hover  {
  color: #333;
  background-color: #f2f2f2;
}
.custom-dialog.mfp-close {
  height: 50px;
  width: 50px;
}
  </style>
 
<!-- Dashboard Headline -->
{% if user == job.author %}
<div class="dashboard-headline">
  <h3>Manage Bidders</h3>
  <span class="margin-top-7">Bids for <a href="#">{{ job.title }}</a></span>

  <!-- Breadcrumbs -->
  <nav id="breadcrumbs" class="dark">
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Dashboard</a></li>
      <li>Manage Bidders</li>
    </ul>
  </nav>
</div>

<!-- Row -->
<div class="row">
  <!-- Dashboard Box -->
  <div class="col-xl-12">
    <div class="dashboard-box margin-top-0">
      <!-- Headline -->
      <div class="headline">
        <h3>
          <i class="icon-material-outline-supervisor-account"></i> Bidders({{ bid_count }})
        </h3>
        <div class="sort-by">
          <select class="selectpicker hide-tick">
            <option>Highest First</option>
            <option>Lowest First</option>
            <option>Fastest First</option>
          </select>
        </div>
      </div>

      <div class="content">
        <ul class="dashboard-box-list">
          {% for bid in bids %}
          <li>
            <!-- Overview -->
            <div class="freelancer-overview manage-candidates">
              <div class="freelancer-overview-inner">
                <!-- Avatar -->
                <div class="freelancer-avatar">
                  <div class="verified-badge"></div>
                  <a href="#"
                    ><img src="{{ bid.user.profile.image.url }}" alt=""
                  /></a>
                </div>

                <!-- Name -->
                <div class="freelancer-name">
                  <h4>
                    <a href="#"
                      >{{ bid.user.first_name}} {{ bid.user.last_name}}
                      <img
                        class="flag"
                        src="images/flags/de.svg"
                        alt=""
                        title="Germany"
                        data-tippy-placement="top"
                    /></a>
                  </h4>

                  <!-- Details -->
                  <!-- <span class="freelancer-detail-item"><a href="#"><i class="icon-feather-mail"></i> {{ bid.user.email }}</a></span> -->

                  <!-- Rating -->
                  <div class="freelancer-rating">
                    <div class="star-rating" data-rating="5.0"></div>
                  </div>

                  <!-- Bid Details -->
                  <ul class="dashboard-task-info bid-info">
                    <li>
                      <strong>${{ bid.Amount }}</strong><span>Fixed Price</span>
                    </li>
                    <li>
                      <strong>{{ bid.time}} {{ bid.denom}} </strong
                      ><span>Delivery Time</span>
                    </li>
                  </ul>

                  <!-- Buttons -->
                  <div class="buttons-to-right always-visible margin-top-25 margin-bottom-0">
                    <a href="#small-dialog-1-{{bid.id}}"  class="popup-with-zoom-anim button ripple-effect"><i class="icon-material-outline-check"></i> Accept Offer</a>
                    <a href="#small-dialog-2-{{bid.id}}" class="popup-with-zoom-anim button dark ripple-effect"><i class="icon-feather-mail"></i> Send Message</a>
                    <a href="#" class="button gray ripple-effect ico" title="Remove Bid" data-tippy-placement="top"><i class="icon-feather-trash-2"></i></a>
                  </div>
                  
                </div>
              </div>
            </div>
          </li>



          <!-- Bid Acceptance Popup ================================================== -->
<div id="small-dialog-1-{{bid.id}}" class="zoom-anim-dialog mfp-hide dialog-with-tabs custom-dialog">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab1">Accept Offer</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Accept Offer From {{ bid.user.first_name}} {{ bid.user.last_name}}</h3>
					<div class="bid-acceptance margin-top-15">
						${{ bid.Amount }}
					</div>

				</div>

				<form id="terms" action="{% url 'bid_payment' bid.id %}">
					<div class="radio">
						<input id="radio-1" name="radio" type="radio" required>
						<label for="radio-1"><span class="radio-label"></span>  I have read and agree to the Terms and Conditions</label>
					</div>
				</form>

				<!-- Button -->
				<button class="margin-top-15 button full-width button-sliding-icon ripple-effect" type="submit" form="terms">Accept <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Bid Acceptance Popup / End -->


<!-- Send Direct Message Popup
================================================== -->

<div id="small-dialog-2-{{bid.id}}" class="zoom-anim-dialog mfp-hide dialog-with-tabs custom-dialog">

	<!--Tabs -->
	<div class="sign-in-form">

		<ul class="popup-tabs-nav">
			<li><a href="#tab2">Send Message</a></li>
		</ul>

		<div class="popup-tabs-container">

			<!-- Tab -->
			<div class="popup-tab-content" id="tab2">
				
				<!-- Welcome Text -->
				<div class="welcome-text">
					<h3>Direct Message To {{ bid.user.first_name}} {{ bid.user.last_name}}</h3>
				</div>
					
				<!-- Form -->
				<form method="post" id="send-pm">
					<textarea name="textarea" cols="10" placeholder="Message" class="with-border" required></textarea>
				</form>
				
				<!-- Button -->
				<button class="button full-width button-sliding-icon ripple-effect" type="submit" form="send-pm">Send <i class="icon-material-outline-arrow-right-alt"></i></button>

			</div>

		</div>
	</div>
</div>
<!-- Send Direct Message Popup / End -->

          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>
{% endif %}
<!-- Row / End -->




{% endblock content %}


